
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
}
.section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    font-size: 3rem;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
}
.section:hover {
    filter: brightness(70%);
}
.footer {
    color: white;
}
.section img {
    position: absolute;
    width: 140%; /* Make image larger to allow for movement */
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    left: -15%;
}
.section:hover img {
    transform: translateX(10%);
}
.overlay {
    position: relative;
    z-index: 1;
}
.anonymous-pro-regular {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .anonymous-pro-bold {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .anonymous-pro-regular-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .anonymous-pro-bold-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: italic;
  }
  
