       * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: "Anonymous Pro", monospace;
            font-weight: 400;
            font-style: normal;
            background: url('images/Bark.jpg') no-repeat center center fixed;
            background-size: cover;
            color: black;
            align-items: center;
            text-align: center;
        }
        .container {
            max-width: 800px;
            margin: auto;
            background: rgba(245, 222, 179, 0.9);
            padding: 20px;
            
        }
        .header {
            background: rgb(46, 37, 24);
            color: white;
            text-align: center;
            padding: 20px;
            font-size: 2rem;
        }
        .button {
            display: block;
            width: 150px;
            padding: 10px;
            margin: 10px auto;
            text-align: center;
            background: lightgray;
            text-decoration: none;
            color: black;
            border: none;
            cursor: pointer;
        }
        .button:hover {
            background: darkgray;
        }
        .image-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            margin-top: 20px;
        }
        .image-grid img {
            width: 90%;
            height: auto;
        }
        .center-column {
            width: 50%;
            padding: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;

        }
        .row {
            display: -ms-flexbox; /* IE 10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE 10 */
            flex-wrap: wrap;
            padding: 0 4px;
          }
        .grid-column {
            -ms-flex: 50%; /* IE 10 */
            flex: 50%;
            padding: 0 4px;
          }
          .grid-column img {
            margin-top: 8px;
            vertical-align: middle;
          }

        .image-solo img{
            width: 50%;
            height: auto;

        }
        .center-column img {
            width: 90%;
            height: auto;

        }
        .audio-container, .model-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px 0;
        }
        .audio-container audio, .model-container iframe {
            width: 100%;
            max-width: 600px;
            height: 80px;
            background: gray;
        }
        .model-container iframe {
            height: 300px;
        }

        .footer {
            color: white;
        }

        model-viewer {
            width: 100%;
            height: 90%;
            background-color: #ffffff;
          }

          .progress-bar {
            display: block;
            width: 33%;
            height: 10%;
            max-height: 2%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            border-radius: 25px;
            box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
            border: 1px solid rgba(255, 255, 255, 0.9);
            background-color: rgba(0, 0, 0, 0.5);
          }
          
          .progress-bar.hide {
            visibility: hidden;
            transition: visibility 0.3s;
          }
          
          .update-bar {
            background-color: rgba(255, 255, 255, 0.9);
            width: 0%;
            height: 100%;
            border-radius: 25px;
            float: left;
            transition: width 0.3s;
          }
          
          #ar-button {
            background-image: url(ar_icon.png);
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: 12px 50%;
            background-color: #fff;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            bottom: 16px;
            padding: 0px 16px 0px 40px;
            font-family: Roboto Regular, Helvetica Neue, sans-serif;
            font-size: 14px;
            color:#4285f4;
            height: 36px;
            line-height: 36px;
            border-radius: 18px;
            border: 1px solid #DADCE0;
          }
          
          #ar-button:active {
            background-color: #E8EAED;
          }
          
          #ar-button:focus {
            outline: none;
          }
          
          #ar-button:focus-visible {
            outline: 1px solid #4285f4;
          }
          
          @keyframes circle {
            from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
            to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
          }
          
          @keyframes elongate {
            from { transform: translateX(100px); }
            to   { transform: translateX(-100px); }
          }
          
          model-viewer > #ar-prompt {
            position: absolute;
            left: 50%;
            bottom: 60px;
            animation: elongate 2s infinite ease-in-out alternate;
            display: none;
          }
          
          model-viewer[ar-status="session-started"] > #ar-prompt {
            display: block;
          }
          
          model-viewer > #ar-prompt > img {
            animation: circle 4s linear infinite;
          }
        
